venv/*
ai-generate-rule/venv/*
ai-generate-rule/.vscode/*
ai-generate-rule/.notes*
ai-generate-rule/dump*
ai-generate-rule/*.csv
ai-generate-rule/src/ai_module/venv/*
ai-generate-rule/log/*
ai-generate-rule/file-directory/*
etl/output/account/_SUCCESS
etl/output/account/.part-*
etl/output/account/*.csv
etl/output/account/_SUCCESS
etl/output/act/_SUCCESS
etl/output/act/.part-*
etl/output/act/*.csv
etl/output/amtratiobp/_SUCCESS
etl/output/amtratiobp/.part-*
etl/output/amtratiobp/*.csv
etl/output/bp/_SUCCESS
etl/output/bp/.part-*
etl/output/bp/*.csv
etl/output/correction/_SUCCESS
etl/output/correction/.part-*
etl/output/correction/*.csv
etl/output/country/_SUCCESS
etl/output/country/.part-*
etl/output/country/*.csv
etl/output/cw/_SUCCESS
etl/output/cw/.part-*
etl/output/cw/*.csv
etl/output/distance/_SUCCESS
etl/output/distance/.part-*
etl/output/distance/*.csv
etl/output/ibft/_SUCCESS
etl/output/ibft/.part-*
etl/output/ibft/*.csv
etl/output/inout/_SUCCESS
etl/output/inout/.part-*
etl/output/inout/*.csv
etl/output/inoutcw/_SUCCESS
etl/output/inoutcw/.part-*
etl/output/inoutcw/*.csv
etl/output/int/_SUCCESS
etl/output/int/.part-*
etl/output/int/*.csv
etl/output/season/_SUCCESS
etl/output/season/.part-*
etl/output/season/*.csv
etl/output/small/_SUCCESS
etl/output/small/.part-*
etl/output/small/*.csv
etl/output/time/_SUCCESS
etl/output/time/.part-*
etl/output/time/*.csv
etl/output/timebp/_SUCCESS
etl/output/timebp/.part-*
etl/output/timebp/*.csv
etl/output/timecw/_SUCCESS
etl/output/timecw/.part-*
etl/output/timecw/*.csv
etl/output/timeseries/_SUCCESS
etl/output/timeseries/.part-*
etl/output/timeseries/*.csv
etl/output/timeseriesact/_SUCCESS
etl/output/timeseriesact/.part-*
etl/output/timeseriesact/*.csv
etl/output/timeseriesbp/_SUCCESS
etl/output/timeseriesbp/.part-*
etl/output/timeseriesbp/*.csv
etl/output/timeseriescw/_SUCCESS
etl/output/timeseriescw/.part-*
etl/output/timeseriescw/*.csv
etl/output/timeserieslogin/_SUCCESS
etl/output/timeserieslogin/.part-*
etl/output/timeserieslogin/*.csv
etl/output/transfer/_SUCCESS
etl/output/transfer/.part-*
etl/output/transfer/*.csv
